* {
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

body, #general-container, #sidebar-header-container {
    z-index: -2;
    position: relative;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

#sidebar {
    background-color:#d9d9d9;
    min-height: 100vh;
    z-index: -1;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#logo-frame {
    text-align: center;
    margin: 1.5vh auto;
}

#trackolus-logo {
    width:100px;
    border-radius:8px;
}

#menu-frame {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.menu-option {
    text-align: center;
    margin: 12px auto;
}

.menu-button {
    width: 220px;
    height: 90px;
    background-color: #ADACAC;
    border-radius: 15px;
    font-size: 24px;
    border-style: none;
    padding: 15px;
    text-align: left;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    transition: 200ms ease;
}

.menu-button:hover > svg {
    transform: translateY(-10%);
}

.menu-button:hover, .go-buttons:hover {
    background-color: #d7d7d7;
}

.icon-button {
    margin-bottom: 4px;
}

#purchase-order-button {    
    display: inline-block;    
}

#purchase-order-icon {    
    margin-right: 7px;
    margin-bottom: 28px;
}

#purchase-order-text {
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

#header {
    background-color: #d9d9d9;
    height: 12vh;
    z-index: 0;
}

#search-bar, .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search, #search2, #search3 {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 42px;
    font-size: 22px;
    padding: 12px 20px 12px 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='grey' fill-rule='evenodd' d='m16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426M10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12'/%3E%3C/svg%3E");
    background-position: 5px 3px;
    z-index: 1;
    flex-direction: row;
    width: 30vw;
}

#search3 {
    width: 20vw;
}

#search-box-2, #search-box-3 {    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#error-output {
    visibility: hidden;
}

.form {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 42px;
    font-size: 22px;
    padding: 12px 20px 12px 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px 3px;
    z-index: 1;
    flex-direction: row;
}

#name-id {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#client-name {
    width: 45%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='grey' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0'/%3E%3Cpath d='M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1M3 12c0 2.09.713 4.014 1.908 5.542A8.986 8.986 0 0 1 12.065 14a8.984 8.984 0 0 1 7.092 3.458A9 9 0 1 0 3 12m9 9a8.963 8.963 0 0 1-5.672-2.012A6.992 6.992 0 0 1 12.065 16a6.991 6.991 0 0 1 5.689 2.92A8.964 8.964 0 0 1 12 21'/%3E%3C/g%3E%3C/svg%3E");
}

#client-id {
    width: 45%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 7a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3z'/%3E%3Cpath d='M7 10a2 2 0 1 0 4 0a2 2 0 1 0-4 0m8-2h2m-2 4h2M7 16h10'/%3E%3C/g%3E%3C/svg%3E");
}

#phone-email {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#client-phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='none' stroke='grey' stroke-dasharray='64' stroke-dashoffset='64' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='M8 3C8.5 3 10.5 7.5 10.5 8C10.5 9 9 10 8.5 11C8 12 9 13 10 14C10.3943 14.3943 12 16 13 15.5C14 15 15 13.5 16 13.5C16.5 13.5 21 15.5 21 16C21 18 19.5 19.5 18 20C16.5 20.5 15.5 20.5 13.5 20C11.5 19.5 10 19 7.5 16.5C5 14 4.5 12.5 4 10.5C3.5 8.5 3.5 7.5 4 6C4.5 4.5 6 3 8 3Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='64;0'/%3E%3C/path%3E%3C/svg%3E");
    width: 45%;
}

#client-email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-width='2.5'%3E%3Crect width='18.5' height='17' x='2.682' y='3.5' rx='4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m2.729 7.59l7.205 4.13a3.956 3.956 0 0 0 3.975 0l7.225-4.13'/%3E%3C/g%3E%3C/svg%3E");
    width: 45%;
}

.go-buttons {
    transform: translate(-114%, 2%);
    width: 36px;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: #ADACAC;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    flex-direction: row;    
}

#tools-bar {
    display: flex;
    flex-direction: column;    
}

#tools {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;    
    height: 50%;
    margin-right: 10px;
}

.tools-icon {
    margin: 0 10px;
    transition: 100ms ease;
}

.tools-icon:hover {
    transform: translateY(10%);    
}

.tools-icon:hover path {
    fill: #878787;
}

#logout-icon:hover path {
    fill: red;
}

#user-box {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    margin-right: 25px;
}

#user-box > p {
    margin: auto 10px;
    font-size: 24px;
}

main {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

#add-button {
    width: 60px;
    height: 60px;
    background-color: #ADACAC;
    border-radius: 15px;
    font-size: 36px;
    border-style: none;
    text-align: center;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    transition: 200ms ease;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#add-button:hover {
    background-color: #d7d7d7;    
    transform: scale(1.1, 1.1);
}

#add-button:hover > span {
    transform: rotate(90deg);
}

/* The Modal (background) */
#add-product {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */    
}
  
  /* Modal Content */
#inventory-modal-content, #inbound-modal-content {
    background-color: #d9d9d9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    animation-name: fading;
    animation-duration: 400ms;
}

@keyframes fading {
    from {opacity: 0}
    to {opacity: 1}
}

#inbound-modal-content {
    width: 700px;
}

#modal-header {
    position: relative;
}

#modal-header h3 {
    margin: 10px auto;
    display: inline-block;
    text-align: left;
}

.modal-body input {
    border-radius: 7px;
    border: none;
    height: 35px;
    margin: 15px 0;    
}

#inventory-modal-body input {
    margin: 15px 0;    
}

#inventory-modal-body input[type="text"], #inventory-modal-body input[type="number"] {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 35px;
    width: 100%;
}

#inbound-modal-body input[type="number"] {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    width: 50px;
    height: 25px;
    margin: 0;
}

/* The Close Button */
#close-modal-button {
    color: #000;
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 28px;
    font-weight: bold;
}
  
#close-modal-button:hover,
#close-modal-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#save-product-button {
    background-color: #aaaaaa;
    border: none;
    color:#000;    
    width: 30%;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
}

#save-product-button:hover {
    border-color: #000;
    background-color: #d7d7d7;
}

#purchase-form {
    width: 80%;
    margin: auto;
    padding-top: 5vh;
}

#products-selected {
    display: none;
}

#table-header {
    visibility: hidden;
}

.purchase-quantity, .inbound-quantity {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    width: 50px !important;
    padding-left: 10px;
    text-align: center;
}

#buttons-purchase-container {
    display: flex;
    justify-content: space-evenly;
}

.purchase-button {
    width: 185px;
    height: 45px;
    padding: 5px;
    text-align: center;
}

.delete-button {    
    font-weight: 100;
    text-align: center;
}

.delete-button:hover {
    cursor: pointer;    
}

.movement-container {
    height: fit-content;
    margin: 25px auto;
    width: 96%;
    text-align: center;
}

.movement-container * {
    font-size: 18px;    
}

.movements {    
    height: fit-content;
    padding: 15px;
    background-color: #ACACAC;
    border-radius: 15px;
    border-style: none;
    text-align: left;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    z-index: 2;
    position: relative;
    display: flex;
}

.mov-info {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 92;
}

.mov-data {
    width: 50%;
    margin: 0;
}

.mov-pdf {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 8;
}

/*.mov-pdf svg {
    
}*/

.collapsible {
    background-color: #d7d7d7;
    border-radius: 0 0 15px 15px;
    font-size: 22px;
    border-style: none;
    text-align: left;
    z-index: 1;
    transform: translateY(-20%);
    max-height: 0;
    width: 100%;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    transition: max-height, padding-top 0.2s ease;
    position: relative;
}