* {
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

body, #general-container, #sidebar-header-container {
    z-index: -2;
    position: relative;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

tr:hover {
    cursor: pointer;    
}

#sidebar {
    background-color:#d9d9d9;
    min-height: 100vh;
    z-index: -1;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    /*position: fixed;
    top: 0;
    left: 0;*/
}

#logo-frame {
    text-align: center;
    margin: 1.5vh auto;
}

#trackolus-logo {
    width:100px;
    border-radius:8px;
}

#menu-frame {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.menu-option {
    text-align: center;
    margin: 12px auto;
}

.menu-button {
    width: 220px;
    height: 90px;
    background-color: #ACACAC;
    border-radius: 15px;
    font-size: 24px;
    border-style: none;
    padding: 15px;
    text-align: left;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    transition: 200ms ease;
}

.menu-button:hover > svg {
    transform: translateY(-10%);
}

.menu-button:hover, .go-buttons:hover {
    background-color: #d7d7d7;
}

.icon-button {
    margin-bottom: 4px;
}

#purchase-order-button {    
    display: inline-block;    
}

#purchase-order-icon {    
    margin-right: 7px;
    margin-bottom: 28px;
}

#purchase-order-text {
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

#header {
    background-color: #d9d9d9;
    height: 12vh;
    z-index: 1;
    /*position: fixed;
    top: 0;*/
}

#search-bar, .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#q, #search2, #search3 {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 42px;
    font-size: 22px;
    padding: 12px 20px 12px 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='grey' fill-rule='evenodd' d='m16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426M10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12'/%3E%3C/svg%3E");
    background-position: 5px 3px;
    z-index: 1;
    flex-direction: row;
    width: 30vw;
}

#search3 {
    width: 20vw;
}

#search-box-2, #search-box-3 {    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#suggestions {
    position: absolute;
    top: 62px;
    background-color: white;
    border: 1px solid #d7d7d7;
    z-index: 2;
    width: 30vw;
    font-size: 22px;
    border-radius: 10px;
    /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
}

#suggestions2 {
    position: absolute;
    translate: 0 41px;
    background-color: white;
    border: 1px solid #d7d7d7;
    z-index: 2;
    width: 29.6vw;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.suggestion {
padding: 10px;
cursor: pointer;
}

.suggestion:hover {
    background-color: #d9d9d9;
}

.item_type {
    float: right;
    font-size: smaller;
    border: solid 1px lightgrey;
    color: grey;
    padding: 0 4px;
    border-radius: 8px;
    translate: 0 2px;
}

#notifications {
    position: absolute;
    top: 45px;
    background-color: white;
    border: 1px solid #d7d7d7;
    translate: -68px 0px;
    z-index: 3;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-height: 450px;
    overflow-y: scroll;
}

.notification {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.notification h3 {
    margin-top: 0;
    color: #333;
}

.notification p {
    margin: 5px 0;
}

#language-select-container {
    position: absolute;
    padding: 10px;
    top: 45px;
    background-color: white;
    border: 1px solid #d7d7d7;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: fit-content;
}

.language-option {
    appearance: none;
}

.language-option:checked + label {
    background-color: #ACACAC;
}

.language-label-option {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    transition: 200ms ease;
}

.language-option:not(:checked) + label:hover {
    background-color: #d7d7d7;    
    transform: scale(1.1, 1.1);
}

#error-output {
    visibility: hidden;
}

.form {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 42px !important;
    font-size: 22px;
    padding: 12px 20px 12px 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px 3px;
    z-index: 1;
    flex-direction: row;
}

#name-id {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#customer-name {
    width: 45%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='grey' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0'/%3E%3Cpath d='M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1M3 12c0 2.09.713 4.014 1.908 5.542A8.986 8.986 0 0 1 12.065 14a8.984 8.984 0 0 1 7.092 3.458A9 9 0 1 0 3 12m9 9a8.963 8.963 0 0 1-5.672-2.012A6.992 6.992 0 0 1 12.065 16a6.991 6.991 0 0 1 5.689 2.92A8.964 8.964 0 0 1 12 21'/%3E%3C/g%3E%3C/svg%3E");
}

#customer-id {
    width: 45%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 7a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3z'/%3E%3Cpath d='M7 10a2 2 0 1 0 4 0a2 2 0 1 0-4 0m8-2h2m-2 4h2M7 16h10'/%3E%3C/g%3E%3C/svg%3E");
}

#phone-email {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#customer-phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.502 4.257A2 2 0 0 0 7.646 3H4.895A1.895 1.895 0 0 0 3 4.895C3 13.789 10.21 21 19.106 21A1.895 1.895 0 0 0 21 19.105v-2.751a2 2 0 0 0-1.257-1.857l-2.636-1.054a2 2 0 0 0-2.023.32l-.68.568a2 2 0 0 1-2.696-.122L9.792 12.29a2 2 0 0 1-.123-2.694l.567-.68a2 2 0 0 0 .322-2.024z'/%3E%3C/svg%3E");
    width: 45%;
}

#customer-email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-width='2.5'%3E%3Crect width='18.5' height='17' x='2.682' y='3.5' rx='4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m2.729 7.59l7.205 4.13a3.956 3.956 0 0 0 3.975 0l7.225-4.13'/%3E%3C/g%3E%3C/svg%3E");
    width: 45%;
}

.go-buttons {
    transform: translate(-114%, 2%);
    width: 36px;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: #ACACAC;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    flex-direction: row;    
}

#tools-bar {
    display: flex;
    flex-direction: column;    
}

#tools {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;    
    height: 50%;
    margin-right: 10px;
}

.tools-icon {
    margin: 0 10px;
    transition: 100ms ease;
}

.tools-icon:hover {
    transform: translateY(10%);    
}

.tools-icon:hover path {
    fill: #878787;
}

#logout-icon:hover path {
    fill: red;
}

#user-box {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    margin-right: 25px;
}

#user-box > p {
    margin: auto 10px;
    font-size: 24px;
}

main {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

#floating-button-container {
    background-color: rgba(0,0,0,0.5);
    border-radius: 35px 0 0 0;
    width: 140px;
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
    /*backdrop-filter: blur(10px);*/
}

#add-button, .floating-button {
    width: 60px;
    height: 60px;
    background-color: #ACACAC;
    border-radius: 15px;
    font-size: 36px;
    border-style: none;
    text-align: center;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    transition: 200ms ease;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 3;
}

#add-button:hover, .floating-button:hover {
    background-color: #d7d7d7;    
    transform: scale(1.1, 1.1);
}

#add-button:hover > span {
    transform: rotate(90deg);
}

#add-product-button {
    bottom: 120px;
    right: 40px;
}

#transfer-button {
    bottom: 200px;
    right: 40px;
}

/* The Modal (background) */
.modal-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */    
}

  /* Modal Content */
.modal-content {
    background-color: #d9d9d9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    animation-name: fading;
    animation-duration: 400ms;
}

@keyframes fading {
    from {opacity: 0}
    to {opacity: 1}
}

#inbound-modal-content, #transfer-products-modal-content {
    width: 700px;
}

.modal-header {
    position: relative;
}

.modal-header h3 {
    margin: 10px auto;
    display: inline-block;
    text-align: left;
}

.modal-body input, #comments {
    border-radius: 7px;
    border: none;
    height: 35px;
    margin: 15px 0;
    padding: 5px;
}

#image_reference {
    text-align:center;
}


#product_name_modal, #comments, #SKU-modal {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 35px;
    width: 100%;
}

#inbound-modal-body input[type="number"], #transfer-products-modal-body input[type="number"] {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    width: 50px;
    height: 25px;
    margin: 0;
}

/* The Close Button */
.close-modal-button {
    color: #000;
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 28px;
    font-weight: bold;
}
  
.close-modal-button:hover,
.close-modal-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#save-product-button {
    background-color: #aaaaaa;
    border: none;
    color:#000;    
    width: fit-content;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
}

#save-product-button:hover {
    border-color: #000;
    background-color: #d7d7d7;
}

#purchase-form {
    width: 80%;
    margin: auto;
    padding-top: 5vh;
}

#products-selected {
    display: none;
}

#table-header {
    visibility: hidden;
}

.purchase-input, .inbound-quantity, .transfer-quantity {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    width: 50px !important;
    height: 30px;
    padding-left: 10px;
    text-align: center;
}

#buttons-purchase-container {
    display: flex;
    justify-content: space-evenly;
}

.purchase-button {
    width: fit-content;
    height: 45px;
    padding: 5px 10px;
    text-align: center;
}

#get-report {
    width: fit-content;
}

.delete-button {    
    font-weight: 100;
    text-align: center;
}

.delete-button:hover {
    cursor: pointer;    
}

.movement-container {
    height: fit-content;
    margin: 25px auto;
    width: 96%;
    text-align: center;
}

.movement-container * {
    font-size: 18px;    
}

.movements {    
    height: fit-content;
    padding: 15px;
    background-color: #ACACAC;
    border-radius: 15px;
    border-style: none;
    text-align: left;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    z-index: 2;
    position: relative;
    display: flex;
}

.mov-info {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 92;
}

.mov-data {
    width: 50%;
    margin: 0;
}

.mov-pdf {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 8;
}

.collapsible {
    background-color: #d7d7d7;
    border-radius: 0 0 15px 15px;
    font-size: 22px;
    border-style: none;
    text-align: left;
    z-index: 1;
    transform: translateY(-20%);
    max-height: 0;
    width: 100%;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    transition: max-height, padding-top 0.2s ease;
    position: relative;
}

#datatype-container {
    text-align: center;
    padding: 6vh 0;
}

.select {
    padding: 0 5px;
    margin: 10px;
    height: 45px;
}

.data_title {
    text-align: center;
    padding: 0;
}

.plotly_graph {
    padding:20px;
    width:33%;
    display: inline-block;
}

#choose_data_type {
    color: #ACACAC;
}

#generate_doc_container {
    float: right;
}

.button {
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
}

.button, .fc-button {
    background-color: #ACACAC !important;
    border-radius: 15px;
    border-style: none !important;
    text-align: center;
    transition: 200ms ease;
}

.button:hover, .fc-button:hover {
    background-color: #d7d7d7 !important;    
    transform: scale(1.1, 1.1);
    z-index: 2 !important;
}

.fc-button-group {
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    border-radius: 10px;
}

.fc-button {
    color: #000 !important;
    z-index: 1 !important;
    margin: 1px;
}

.result_image {
    max-height: 40vh;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
}

.link_button {
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.movement-button {
    transition: 200ms ease;
    border-radius: 15px;
}

.movement-button:hover {
    background-color: #d7d7d7;    
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

#calendar-container {
    padding: 20px;
}

.fc-day-today {
    background-color: #d9d9d9 !important;
}

.purchase-order-warehouse {
    width: fit-content !important;
    font-size: inherit;
    padding: 5px;
}

#create-user-container {
    text-align: center;
    width: 40vw;
}

#create-user-form {    
    padding: 20px;
}

.create-user-input {
    margin: 20px 0;
    width: 100%;
}

#id-type {
    width: 70px;
}

#user-name {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='grey' d='M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2M7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.5.88 4.93 1.78A7.9 7.9 0 0 1 12 20c-1.86 0-3.57-.64-4.93-1.72m11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33A7.93 7.93 0 0 1 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.5-1.64 4.83M12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6m0 5a1.5 1.5 0 0 1-1.5-1.5A1.5 1.5 0 0 1 12 8a1.5 1.5 0 0 1 1.5 1.5A1.5 1.5 0 0 1 12 11'/%3E%3C/svg%3E");
}

#identification {
    border-radius: 0 10px 10px 0;
    width: calc(100% - 70px) !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 34'%3E%3Cpath fill='grey' d='M28 6v20H4V6zm0-2H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2'/%3E%3Cpath fill='grey' d='M6 10h7v2H6zm0 4h4v2H6zm17 4h-6a3 3 0 0 0-3 3v2h2v-2a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2h2v-2a3 3 0 0 0-3-3m-3-1a4 4 0 1 0-4-4a4 4 0 0 0 4 4m0-6a2 2 0 1 1-2 2a2 2 0 0 1 2-2'/%3E%3C/svg%3E");
}

#user-phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.502 4.257A2 2 0 0 0 7.646 3H4.895A1.895 1.895 0 0 0 3 4.895C3 13.789 10.21 21 19.106 21A1.895 1.895 0 0 0 21 19.105v-2.751a2 2 0 0 0-1.257-1.857l-2.636-1.054a2 2 0 0 0-2.023.32l-.68.568a2 2 0 0 1-2.696-.122L9.792 12.29a2 2 0 0 1-.123-2.694l.567-.68a2 2 0 0 0 .322-2.024z'/%3E%3C/svg%3E");
}

#user-email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-width='2.5'%3E%3Crect width='18.5' height='17' x='2.682' y='3.5' rx='4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m2.729 7.59l7.205 4.13a3.956 3.956 0 0 0 3.975 0l7.225-4.13'/%3E%3C/g%3E%3C/svg%3E");
}

#prices-container {
    display: flex;
    justify-content: space-between;
}

.price-input {
    width: 45%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

#comments {
    height: 105px !important;
}

#status {
    margin: 15px 0;
    padding: 5px;
    width: 100%;
    height: 35px !important;
    font-size: inherit;
}

.warehouses {
    margin: 15px 0;
    padding: 5px;
    height: 42px;
}

.modal-inventory-warehouses {
    width: 40%;
}