* {
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

body, #general-container, #sidebar-header-container {
    z-index: -2;
    position: relative;
}

h3 {
    font-size: 1rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

tr:hover {
    cursor: pointer;
}

#sidebar, #sidebar-aux {
    background-color:#d9d9d9;
    min-height: 100vh;
    z-index: 1;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 1px;
}

#logo-frame, #logo-frame-aux {
    text-align: center;
    margin: 1.5vh auto;
}

#trackolus-logo {
    max-width:100px;
    max-height:100px;
    border-radius:8px;
}

#menu-frame, #menu-frame-aux {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.menu-option, .menu-option-aux {
    text-align: center;
}

.menu-button, .menu-button-aux {
    height: fit-content;
    background-color: #ACACAC;
    border-radius: 15px;
    border-style: none;
    padding: 0.75rem;
    text-align: left;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    transition: 200ms ease;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.menu-button > svg, .menu-button-aux > svg {
    transition: 200ms ease;
}

.menu-button:hover > svg, .menu-button-aux:hover > svg {
    transform: translateY(-10%);
}

.menu-button:hover, .menu-button-aux:hover, .go-buttons:hover {
    background-color: #d7d7d7;
}

.menu-button, .menu-button-aux {
    display: flex;
}

.button-icon {
    min-width: 33px !important;
}

#purchase-order-icon, #purchase-order-icon-aux {
    margin-right: 7px;
}

button > p {
    margin-bottom: 0;
}

.button-text, .button-text-aux {
    width: inherit;
    text-align: center;
}

#purchase-order-text, #purchase-order-text-aux {
    display: inline-block;
    text-align: center;
}

main {
    overflow: auto !important;
    margin-top: 85px;
}

#header {
    background-color: #d9d9d9;
    height: 85px;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 1px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#search-bar, .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#q, #search2, #search3, #search4 {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 42px;
    font-size: 1rem;
    padding: 12px 20px 12px 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='grey' fill-rule='evenodd' d='m16.325 14.899l5.38 5.38a1.008 1.008 0 0 1-1.427 1.426l-5.38-5.38a8 8 0 1 1 1.426-1.426M10 16a6 6 0 1 0 0-12a6 6 0 0 0 0 12'/%3E%3C/svg%3E");
    background-position: 5px 3px;
    z-index: 1;
    flex-direction: row;
}

#search3 {
    width: 20vw;
}

#search-box-2, #search-box-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#suggestions {
    position: absolute;
    top: 65px;
    background-color: white;
    z-index: 2;
    width: 30vw;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#suggestions2 {
    position: absolute;
    background-color: white;
    z-index: 2;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    display: flex;
}

.suggestion:hover {
    background-color: #d9d9d9;
}

.item_name {
    display: flex;
    flex-wrap: wrap;
    flex: 75;
}

.item_type {
    float: right;
    font-size: 1rem;
    border: solid 1px lightgrey;
    color: grey;
    margin: auto 0;
    padding: 0 4px;
    border-radius: 8px;
    translate: 0 2px;
}

#notifications {
    position: fixed;
    top: 45px;
    right: 0;
    background-color: white;
    border: 1px solid #d7d7d7;
    translate: -68px 0px;
    z-index: 3;
    font-size: 0.9rem;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-height: 450px;
    overflow-y: scroll;
}

.notification {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.notification h3 {
    margin-top: 0;
    color: #333;
}

.notification p {
    margin: 5px 0;
}

#language-select-container {
    position: fixed;
    padding: 10px;
    top: 45px;
    right: 80px;
    background-color: white;
    border: 1px solid #d7d7d7;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: fit-content;
}

.language-small {
    font-size: 1.5rem !important;
    position: fixed !important;
    top: 130px !important;
    right: 35vw !important;
    z-index: 11 !important;
}

.language-option {
    appearance: none;
}

.language-option + label {
    background-color: #e9e9e9;
}

.language-option:checked + label {
    background-color: #ACACAC;
}

.language-label-option {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    transition: 200ms ease;
}

.language-option:not(:checked) + label:hover {
    background-color: #d7d7d7;    
    transform: scale(1.1, 1.1);
}

#error-output {
    visibility: hidden;
}

.form {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 42px;
    padding: 12px 20px 12px 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px 3px;
    z-index: 1;
    flex-direction: row;
}

#name-id, #phone-email {
    display: flex;
}

#customer-name {    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='grey' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0'/%3E%3Cpath d='M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1M3 12c0 2.09.713 4.014 1.908 5.542A8.986 8.986 0 0 1 12.065 14a8.984 8.984 0 0 1 7.092 3.458A9 9 0 1 0 3 12m9 9a8.963 8.963 0 0 1-5.672-2.012A6.992 6.992 0 0 1 12.065 16a6.991 6.991 0 0 1 5.689 2.92A8.964 8.964 0 0 1 12 21'/%3E%3C/g%3E%3C/svg%3E");
}

#customer-id {    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 7a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3z'/%3E%3Cpath d='M7 10a2 2 0 1 0 4 0a2 2 0 1 0-4 0m8-2h2m-2 4h2M7 16h10'/%3E%3C/g%3E%3C/svg%3E");
}

#customer-phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.502 4.257A2 2 0 0 0 7.646 3H4.895A1.895 1.895 0 0 0 3 4.895C3 13.789 10.21 21 19.106 21A1.895 1.895 0 0 0 21 19.105v-2.751a2 2 0 0 0-1.257-1.857l-2.636-1.054a2 2 0 0 0-2.023.32l-.68.568a2 2 0 0 1-2.696-.122L9.792 12.29a2 2 0 0 1-.123-2.694l.567-.68a2 2 0 0 0 .322-2.024z'/%3E%3C/svg%3E");
}

#customer-email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-width='2.5'%3E%3Crect width='18.5' height='17' x='2.682' y='3.5' rx='4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m2.729 7.59l7.205 4.13a3.956 3.956 0 0 0 3.975 0l7.225-4.13'/%3E%3C/g%3E%3C/svg%3E");
}

.go-buttons {
    transform: translate(-114%, 2%);
    width: 36px;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: #ACACAC;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    flex-direction: row;    
}

.tools-icon {
    transition: 100ms ease;
}

.tools-icon:hover {
    transform: translateY(10%);    
}

.tools-icon-aux:hover {
    transform: translateY(-10%);    
}

.tools-icon:hover path {
    fill: #878787;
}

#logout-icon:hover path, #logout-icon-aux:hover path {
    fill: red;
}

#user-box, #user-box-aux {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
}

#user-box-aux {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

#user-box > p {
    margin: auto 10px;
    font-size: 1rem;
}

#profile-icon-aux-container {
    width: fit-content;
}

#floating-button-container {
    background-color: rgba(0,0,0,0.5);
    border-radius: 35px 0 0 0;
    z-index: 2;
    box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
    /*backdrop-filter: blur(10px);*/
    position: fixed;
    bottom: 0;
    width: 140px;
    height: 300px;
    right: 0;
}

#add-button, #edit-button, .floating-button {
    width: 60px;
    height: 60px;
    background-color: #ACACAC;
    border-radius: 15px;
    font-size: 36px;
    border-style: none;
    text-align: center;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    transition: 200ms ease;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 3;
}

#add-button:hover, #edit-button:hover, .floating-button:hover {
    background-color: #d7d7d7;    
    transform: scale(1.1, 1.1);
}

#add-button:hover > span, #edit-button:hover > span {
    transform: rotate(90deg);
}

#add-product-button {
    bottom: 120px;
    right: 40px;
}

#transfer-button {
    bottom: 200px;
    right: 40px;
}

/* The Modal (background) */
.modal-window, #modal-flash {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */    
}

  /* Modal Content */
.modal-content {
    background-color: #d9d9d9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 550px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    animation-name: fading;
    animation-duration: 400ms;
}

#modal-flash-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    animation-name: fading;
    animation-duration: 400ms;    
}

@keyframes fading {
    from {opacity: 0}
    to {opacity: 1}
}

#modal-flash-header {
    text-align: end;
}

#modal-flash-body {
    display: flex;
    flex-direction: column;
}

#modal-flash-body > svg {
    margin: auto;
}

#inbound-modal-content {
    width: 700px;
}

.modal-header {
    position: relative;
}

.modal-header h3 {
    margin: 10px auto;
    display: inline-block;
    text-align: left;
}

.modal-body input, .modal-body select, #comments {
    border-radius: 7px;
    border: none;
    height: 35px;
    margin: 15px 0;
    padding: 5px;
}

#edit-user-modal-body input {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 42px;
    padding: 12px 20px 12px 45px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5px 3px;
}

#edit-user-modal-body select {
    height: 42px;
}

#image_reference {
    text-align:center;
}


#product_name_modal, #comments, #SKU-modal {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 35px;
    width: 100%;
}

#inbound-modal-body input[type="number"], #transfer-products-modal-body input[type="number"] {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    width: 50px;
    height: 25px;
    margin: 0;
}

/* The Close Button */
.close-modal-button {
    color: #000;
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 1rem;
    font-weight: bold;
}
  
.close-modal-button:hover,
.close-modal-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#save-product-button, #save-user-button {
    background-color: #aaaaaa;
    border: none;
    color:#000;    
    width: fit-content;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
}

#save-product-button:hover, #save-user-button:hover {
    border-color: #000;
    background-color: #d7d7d7;
}

#products-selected {
    display: none;
}

#table-header {
    visibility: hidden;
}

.purchase-input, .inbound-quantity, .transfer-quantity {
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    height: 30px;
    padding-left: 10px;
    text-align: center;
}

.labels {
    position: absolute;
    text-align: left;
    font-size: 14px;
    translate: 6px -3px;
}

.transfer-warehouse-container, .inbound-supplier-warehouse-container {
    width: 45%;
}

#warehouse-labels-container {
    display: flex;
    justify-content: center;
    position: absolute;
}

#identification2-label {
    translate: 10px -3px;
}

#identification-label {
    translate: 78px -3px;
}

#sell-price-label {
    translate: 286px -3px;
}

#buttons-purchase-container {
    display: flex;
    justify-content: space-evenly;
}

.purchase-button {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    text-align: center;
}

#get-report, #get-PDF, #save-order {
    width: fit-content;
    height: fit-content;
}

.delete-button {
    font-weight: 100;
    text-align: center;
}

.delete-button:hover {
    cursor: pointer;    
}

.movement-container {
    height: fit-content;
    margin: 25px auto;
    width: 96%;
    text-align: center;
}

.movements {
    height: fit-content;
    padding: 15px;
    background-color: #ACACAC;
    border-radius: 15px;
    border-style: none;
    text-align: left;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
}

.mov-info {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 95;
}

.mov-data {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.mov-pdf {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 5;
}

.collapsible {
    background-color: #d7d7d7;
    border-radius: 0 0 15px 15px;
    font-size: 0.9rem;
    border-style: none;
    text-align: left;
    z-index: 1;
    transform: translateY(-20%);
    max-height: 0;
    width: 100%;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    transition: max-height, padding-top 0.2s ease;
    position: relative;
}

#datatype-container {
    text-align: center;
    padding: 6vh 0;
}

 #user-container {
    text-align: center;
    margin: 2vh 0;
    min-height: 65px;
 }

.select {
    padding: 0 5px;
    margin: 10px;
    height: 45px;
}

.data_title {
    text-align: center;
    padding: 0;
}

.plotly_graph {
    padding:5px;
    display: inline-block;
}

#choose_data_type {
    color: #ACACAC;
}

#generate_doc_container {
    float: right;
}

.button {
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
}

.button, .fc-button {
    background-color: #ACACAC !important;
    border-radius: 15px;
    border-style: none !important;
    text-align: center;
    transition: 200ms ease;
}

.button:hover, .fc-button:hover {
    background-color: #d7d7d7 !important;
    transform: scale(1.1, 1.1);
    z-index: 2 !important;
}

.fc-button-group {
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
    border-radius: 10px;
}

.fc-button {
    color: #000 !important;
    z-index: 1 !important;
    margin: 1px;
}

.result_image {
    max-height: 40vh;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.42);
}

.link_button {
    display: inline-block;
    margin: 2px;
    padding: 2px;
}

.movement-button {
    transition: 200ms ease;
    border-radius: 15px;
    padding: 5px;
}

.movement-button:hover {
    background-color: #d7d7d7;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

#calendar-container {
    padding: 20px;
}

.fc-day-today {
    background-color: #d9d9d9 !important;
}

#create-user-container {
    text-align: center;
}

#create-user-form {    
    padding: 20px;
}

.create-user-input {
    margin: 20px 0;
    width: 100%;
}

#create-user-button {
    margin: auto;
}

#id-type {
    width: 70px;
}

#user-name {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='grey' d='M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2M7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.5.88 4.93 1.78A7.9 7.9 0 0 1 12 20c-1.86 0-3.57-.64-4.93-1.72m11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33A7.93 7.93 0 0 1 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.5-1.64 4.83M12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6m0 5a1.5 1.5 0 0 1-1.5-1.5A1.5 1.5 0 0 1 12 8a1.5 1.5 0 0 1 1.5 1.5A1.5 1.5 0 0 1 12 11'/%3E%3C/svg%3E");
}

.identifications {
    border-radius: 0 10px 10px 0;    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 34'%3E%3Cpath fill='grey' d='M28 6v20H4V6zm0-2H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2'/%3E%3Cpath fill='grey' d='M6 10h7v2H6zm0 4h4v2H6zm17 4h-6a3 3 0 0 0-3 3v2h2v-2a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2h2v-2a3 3 0 0 0-3-3m-3-1a4 4 0 1 0-4-4a4 4 0 0 0 4 4m0-6a2 2 0 1 1-2 2a2 2 0 0 1 2-2'/%3E%3C/svg%3E");
}

#identification {
    width: calc(100% - 70px);
}

#user-phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.502 4.257A2 2 0 0 0 7.646 3H4.895A1.895 1.895 0 0 0 3 4.895C3 13.789 10.21 21 19.106 21A1.895 1.895 0 0 0 21 19.105v-2.751a2 2 0 0 0-1.257-1.857l-2.636-1.054a2 2 0 0 0-2.023.32l-.68.568a2 2 0 0 1-2.696-.122L9.792 12.29a2 2 0 0 1-.123-2.694l.567-.68a2 2 0 0 0 .322-2.024z'/%3E%3C/svg%3E");
}

#user-email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg fill='none' stroke='grey' stroke-width='2.5'%3E%3Crect width='18.5' height='17' x='2.682' y='3.5' rx='4'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m2.729 7.59l7.205 4.13a3.956 3.956 0 0 0 3.975 0l7.225-4.13'/%3E%3C/g%3E%3C/svg%3E");
}

#prices-container, #identification-container, #role-status-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#id-type2-container {
    width: 20%;
}

#identification2-container {
    width: 75%;
}

#identification2 {
    width: 100%;
}

.price-input {
    width: 45%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}

#role-status-container > * {
    width: 45%;
}

#comments {
    height: 105px !important;
}

#status {
    margin: 15px 0;
    padding: 5px;
    width: 100%;
    height: 35px !important;
}

#supplier-warehouse-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.modal-inventory-warehouses, .modal-inventory-select {
    padding: 5px;
}

.purchase-order-warehouse {
    padding: 5px;
    margin: auto;
    height: 35px;
    width: 70%;
    display: flex;
}

#sidebar-modal, #tools-modal {
    display: none;
    position: fixed;
    padding: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#tools-modal-content {
    background-color:#d9d9d9;
    min-height: 100vh;
    z-index: 1;
    box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 1px;
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

#tools-aux {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#lateral-menu-button {
    width: fit-content;
    height: auto;
}

#save-transfer-button, #save-product-button, #save-user-button, #get-report, #save-inbound-button {
    margin: auto;
}

#error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px);
    flex-direction: column;
    margin: auto;
}

#error-face {
    height: 50vh;
}

#message {
    flex-wrap: wrap;
}

#dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product-info, #user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#product-data, #user-data {
    max-width: 450px;
    margin: 30px 0 0 20px;
}

#settings-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px);
}

.settings-button {
    font-size: 1.2rem !important;
    display: flex;
    line-height: normal !important;
    width: 250px !important;
    height: 80px !important;
    margin: 50px !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.settings-button-svg {
    flex: 20;
}

.settings-button-text {
    flex: 80;
    text-align: center;
}

#change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px);
}

.password-input {
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cpath fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 13a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2zm3-2V7a4 4 0 1 1 8 0v4m-1 5h.01m-3 0h.01m-3 0h.01'/%3E%3C/svg%3E");
    background-position: 5px 3px;
    background-size: contain;
}

#save-password-button {
    margin: 30px auto;
    line-height: normal !important;
}

#error-message2 {
    height: 30px;
    text-align: center;
}

#help-content {
    padding: 2vw;
}

.hidden {
    display: none;
}

.unread > * {
    font-weight: 700;
}

.notifications-small h3 {
    font-size: 1.2rem !important;
}

#product-image-modal-content {
    width: fit-content;
}

@media only screen and (orientation: landscape) {
    #product-image {
        width: fit-content;
        height: 80vh;
    }
}
@media only screen and (orientation: portrait) {
    #product-image {
        width: 80vw;
        height: fit-content;
    }
}

/* Extra extra small devices (phones, 420px and down) */
@media only screen and (min-width: 150px) {
    html {
        font-size: 12px;
    }
    .menu-option, .menu-option-aux {
        margin: 0.5rem;
    }
    #purchase-order-text, #purchase-order-text-aux {
        line-height: 5vw;
    }
    #trackolus-logo {
        width: 14vw;
        height: 14vw;
    }
    .header-tool {
        margin-left: 0;
        margin-right: 0;
    }
    #main-content, #header {
        width: 100%;
    }
    #sidebar, #sidebar-space, #sidebar-aux {
        display: none;
        width: 50%;
    }
    .menu-button-aux {
        width: 46vw;
    }
    #user-box {
        margin-right: 0.6vw;
    }
    #tools-bar {
        display: none;
    }
    #profile-icon {
        display: none;
    }
    #profile-icon-aux-container {
        display: block;
        position: fixed;
        top: 15px;
        right: 5px;
    }
    #search-bar {
        width: 65%;
    }
    .header-tool-aux {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header-tool-aux svg {
        margin: auto;
    }
    .modal-content {
        width: 90vw;
    }
    #warehouses-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal-inventory-warehouses, .modal-inventory-select, #search3, #search4 {
        width: 60%;
        margin: 0;
        height: 30px;
    }
    #inventory-arrow-right {
        display: none;
    }
    #inventory-arrow-down {
        display: block;
    }
    #search3, #search4 {
        margin-top: 30px;
    }
    #purchase-form {
        width: 90%;
        margin: 0 auto;
        padding: 2vh 0;
    }
    .customer-info {
        width: 90%;
        margin: 1vw;
        height: 35px;
        z-index: 0;
    }
    #name-id, #phone-email {
        flex-wrap: wrap;
        justify-content: center;
    }
    #search2 {
        width: 70%;
        height: 35px;
        margin-top: 4vh;
        z-index: 0;
    }
    .purchase-order-warehouse {
        width: 70%;
    }
    table {
        font-size: 0.8rem;
    }    
    .purchase-input, .inbound-quantity, .transfer-quantity {
        width: 40px;
    }
    #suggestions2 {
        z-index: 1;
        width: 82%;
        translate: 0 50px;
    }
    .movement-container * {
        font-size: 1.3rem;
    }
    .mov-info {
        flex-direction: column;
    }
    .mov-data {
        width: 100%;
    }
    .quantity-large { display: none; }
    .quantity-short { display: block; }

    .modal-inventory-select {
        width: 48%;
    }
    #q {
        width: 50vw;
    }
    #error-message {
        width: 50%;
    }
    #product-info {
        flex-direction: column;
    }
    #settings-options-container {
        flex-direction: column;
    }
    .notifications-small {
        font-size: 1.2rem !important;
        position: fixed !important;
        top: 170px !important;
        z-index: 11 !important;
        width: 60vw !important;
    }
    .modal-inventory-warehouses, .modal-inventory-select {
        width: 100%;
        margin: 15px 0;
        height: 42px;
    }
    #inbound-modal-content {
        width: 90vw;
    }
    #create-user-container {
        width: 90vw;
    }
    .password-input {
        width: 75vw;
    }
}

/* Extra small devices (phones, 420px and up) */
@media only screen and (min-width: 420px) {
    #search-bar {
        width: 80%;
    }
    #sidebar, #sidebar-space, #sidebar-aux {
        width: 33.33%;
    }
    .menu-button-aux {
        width: 28vw;
    }
    #purchase-order-text, #purchase-order-text-aux {
        line-height: 2.5vw;
    }
    .header-tool-aux {
        display: block;
        margin: 10px 0;
        padding: 0 10px;
        text-align: start;
    }
    .header-tool-aux svg {
        margin-right: 8px;
    }
    #logout-icon-aux-container {
        position: absolute;
        bottom: 10px;
    }
    .notifications-small {
        font-size: 1.2rem !important;
        position: fixed !important;
        top: 180px !important;
        right: 22vw !important;
        z-index: 11 !important;
        width: 60vw !important;
    }
    .password-input {
        width: 55vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 15px;
    }
    .menu-button {
        margin: 0.15rem;
        flex-direction: column;
        font-size: 0.8rem;
        width: 14vw;
    }
    .menu-option {
        margin: 0.15rem;
    }
    #trackolus-logo {
        width: 14vw;
        height: 14vw;
    }
    #purchase-order-text {
        line-height: 2.2vw;
    }
    .header-tool {
        margin-left: 0.2vw;
        margin-right: 0.2vw;
    }
    #sidebar, #sidebar-space {
        display: block;
        width: 16.66%;
    }
    #main-content, #header {
        width: 83.33%;
    }
    #lateral-menu-button {
        display: none;
    }
    #warehouses-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #search3, #search4 {
        width: 40%;
        margin: 15px 0;
        height: 42px;
    }
    #inventory-arrow-right {
        display: block;
    }
    #inventory-arrow-down {
        display: none;
    }
    #add-product-modal-content, #edit-product-modal-content, #edit-user-modal-content {
        width: 550px;
    }
    #purchase-form {
        width: 95%;
        margin: 0 auto;
        padding: 2vh 0;
    }
    .customer-info {
        width: 48%;
    }    
    #name-id, #phone-email {
        margin: 10px auto;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    #search2 {
        margin-top: 4vh;
    }
    #suggestions2 {
        z-index: 1;
        width: 38%;
        translate: 5px 50px;
    }
    .movement-container * {
        font-size: 1.2rem;
    }
    .notifications-small {
        font-size: 1.2rem !important;
        position: fixed !important;
        top: 190px !important;
        right: 24vw !important;
        z-index: 11 !important;
    }
    #create-user-container {
        width: 70vw;
    }
    .password-input {
        width: 45vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 15px;
    }
    .menu-button, .menu-button-aux {
        margin: 0.2rem;
        flex-direction: column;
        font-size: 1rem;
        padding: 0.2rem;
    }
    .menu-option {
        margin: 0.2rem;
    }
    #purchase-order-text {
        line-height: 2vw;
    }
    .header-tool {
        margin: 0 0.6vw;
    }
    #tools-bar {
        position: static;
        display: flex;
        flex-direction: column;
        height: 85px;
        width: 50%;
    }
    #tools-modal {
        display: none;
    }
    #tools {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        height: 50%;
    }
    #profile-icon {
        display: block;
    }
    #profile-icon-aux-container {
        display: none;
    }
    #search-bar {
        width: 50%;
    }
    #transfer-products-modal-content, #inbound-modal-content {
        width: 700px;
    }
    #purchase-form {
        width: 80%;
        margin: auto;
        padding: 5vh 0 2vh;
    }
    .customer-info {
        width: 45%;
    }
    .purchase-input, .inbound-quantity, .transfer-quantity {
        width: 50px;
    }
    #suggestions2 {
        z-index: 1;
        width: 30%;
        translate: 8px 50px;
    }
    .movement-container * {
        font-size: 1.0rem;
    }
    .mov-info {
        flex-direction: row;
    }
    .mov-data {
        width: 48%;        
    }
    .mov-data-order { order: 1;}
    .mov-data-date { order: 3;}
    .mov-data-customer-supplier { order: 2;}
    .mov-data-author { order: 14;}
    .quantity-large { display: block; }
    .quantity-short { display: none; }
    
    .modal-inventory-select {
        width: 100%;
    }
    #q {
        width: 30vw;
    }
    #inbound-modal-content {
        width: 700px;
    }
    #create-user-container {
        width: 60vw;
    }
    .password-input {
        width: 40vw;
    }
    #product-info {
        flex-direction: row;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 17px;
    }
    .menu-button, .menu-button-aux {
        margin: 0.25rem;
        flex-direction: row;
        font-size: 1.4vw;
        padding: 0.75rem;
    }
    .menu-option {
        margin: 0.25rem;
    }
    #purchase-order-text {
        line-height: 1.7vw;
    }
    .header-tool {
        margin: 0 0.8vw;
    }
    #user-box {
        margin-right: 0.8vw;
    }
    .purchase-order-warehouse, #search2 {
        width:30vw;
    }
    #suggestions2 {
        translate: 10px 50px;
    }
    .movement-container * {
        font-size: 0.9rem;
    }
    #error-message {
        width: 70%;
        
    }
    #save-transfer-button, #save-product-button, #save-user-button, #get-report, #save-inbound-button, #get-PDF, #save-order, #create-user-button { 
        width: fit-content;
        padding: 0.25rem 0.75rem;

    }

    #settings-options-container {
        flex-direction: row;
    }
    #create-user-container {
        width: 50vw;
    }
    .password-input {
        width: 30vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
    .menu-button {
        margin: 0.3rem;
        flex-direction: row;
        font-size: 1.5vw;
    }
    .menu-option-aux {
        margin: 0.2rem;
    }
    .menu-option {
        margin: 0.3rem;
    }
    #purchase-order-text {
        line-height: 1.4vw;
    }
    #create-user-container {
        width: 40vw;
    }
    .password-input {
        width: 25vw;
    }
}

/* Extra extra large devices (large desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    html {
        font-size: 22px;
    }
    .menu-button {
        margin: 0.3rem;
        flex-direction: row;
        font-size: 26px;
    }
    .menu-option {
        margin: 0.3rem;
    }
    #purchase-order-text {
        line-height: 1.4vw;
    }
    #suggestions2 {
        translate: 14px 52px;
    }
}