{% extends 'layout.html' %}

{% block main %}
<div class="container" id="change-password-container">
    <form action="/change_password" id="change-password-form" method="POST">
        <label class="labels" for="current-password">{{ _('Current password') }}</label>
        <input type="password" class="form input password-input" id="current-password" name="current-password" autocomplete="new-password" placeholder="{{ _('Current password') }}" required autofocus><br>
        <label class="labels" for="new-password">{{ _('New password') }}</label>
        <input type="password" class="form input password-input" id="new-password" name="new-password" autocomplete="new-password" placeholder="{{ _('New password') }}" required><br>
        <label class="labels" for="confirmation">{{ _('Confirmation') }}</label>
        <input type="password" class="form input password-input" id="confirmation" name="confirmation" autocomplete="new-password" placeholder="{{ _('Confirm new password') }}" required><br>
        <div id="error-message2" style="visibility: hidden;"> </div>
        <button class="menu-button purchase-button" id="save-password-button" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.828a2 2 0 0 0-.586-1.414l-1.828-1.828A2 2 0 0 0 16.172 4H15M8 4v4a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V4M8 4h7M7 17v-3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3"/></svg>
            {{ _('Save password') }}
        </button><br>
    </form>
</div>
<script>
    const oldPass = document.getElementById('old-password');
    const newPass = document.getElementById('new-password');
    const confirm = document.getElementById('confirmation');
    const errorMsg = document.getElementById('error-message2');
    const form = document.getElementById('change-password-form');
    console.log('This starts working');
    confirm.addEventListener('input', function() {
        console.log('This works');
        if (newPass.value !== confirm.value) {
            errorMsg.innerHTML = 'Passwords do not match';
            errorMsg.style.color = 'red';
            errorMsg.style.visibility = 'visible';
        } else {
            errorMsg.innerHTML = 'Passwords match';
            errorMsg.style.color = 'green';
            errorMsg.style.visibility = 'visible';
        }
    });
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        if (newPass.value !== confirm.value) {
            errorMsg.innerHTML = 'Passwords do not match';
            errorMsg.style.color = 'red';
            errorMsg.style.visibility = 'visible';
        } else if (newPass.value == '') {
            errorMsg.innerHTML = 'New password field is empty';
            errorMsg.style.color = 'red';
            errorMsg.style.visibility = 'visible';
        } else if (confirm.value == '') {
            errorMsg.innerHTML = 'Confirmation field is empty';
            errorMsg.style.color = 'red';
            errorMsg.style.visibility = 'visible';
        } else {
            form.submit();
        }
    });
</script>
{% endblock %}