{% extends 'layout.html' %}

{% block main %}

<div id="main-container">
    <br>
    {% if catalogue %}
    {% for movement in catalogue %}
    <article class="movement-container container-fluid">
        <section class="movements" aria-expanded="false">
            <div class="mov-info">
                <p class="mov-data"><a href="{{ url_for('result', search_term=movement.order_number, type='Inbound') }}" target="_blank"><b>{{ _('Order number') }}:</b> {{ movement.order_number }}</a></p>
                <p class="mov-data"><b>{{ _('Date') }}:</b> {{ movement.order_date }}</p>
                <p class="mov-data"><a href="{{ url_for('result', search_term=movement.order_counterpart, type='Supplier') }}"><b>{{ _('Supplier') }}:</b> {{ movement.order_counterpart }} </a></p>
                <p class="mov-data"><a href="{{ url_for('result', search_term=movement.order_author, type='User') }}"><b>{{ _('Receiver') }}:</b> {{ movement.order_author }}</a></p>
            </div>
            <div class="mov-pdf">
                <a class="movement-button" href="{{ url_for('movement_pdf', order_number=movement.order_number) }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                        <g fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" color="black">
                            <path d="M3.5 13v-.804c0-2.967 0-4.45.469-5.636c.754-1.905 2.348-3.407 4.37-4.118C9.595 2 11.168 2 14.318 2c1.798 0 2.698 0 3.416.253c1.155.406 2.066 1.264 2.497 2.353c.268.677.268 1.525.268 3.22V13"/>
                            <path d="M3.5 12a3.333 3.333 0 0 1 3.333-3.333c.666 0 1.451.116 2.098-.057a1.67 1.67 0 0 0 1.179-1.18c.173-.647.057-1.432.057-2.098A3.333 3.333 0 0 1 13.5 2m-10 20v-3m0 0v-1.8c0-.566 0-.848.176-1.024C3.85 16 4.134 16 4.7 16h.8a1.5 1.5 0 0 1 0 3zm17-3H19c-.943 0-1.414 0-1.707.293S17 17.057 17 18v1m0 3v-3m0 0h2.5M14 19a3 3 0 0 1-3 3c-.374 0-.56 0-.7-.08c-.333-.193-.3-.582-.3-.92v-4c0-.338-.033-.727.3-.92c.14-.08.326-.08.7-.08a3 3 0 0 1 3 3"/>
                        </g>
                    </svg>
                </a>
                <div class="movement-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                        <path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M3 7V5a2 2 0 0 1 2-2h2m10 0h2a2 2 0 0 1 2 2v2m0 10v2a2 2 0 0 1-2 2h-2M7 21H5a2 2 0 0 1-2-2v-2M8 7v10m4-10v10m5-10v10" />
                    </svg>
                </div>
            </div>
        </section>
        <section class="collapsible">
            <table  class="table table-striped table-secondary table-borderless">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>{{ _('Product name') }}</th>
                        <th>{{ _('Quantity') }}</th>
                    </tr>
                </thead>
                <tbody class="products-in-order" id="{{ movement.order_number }}">
                    {% for product in movement.order_products %}
                    <tr id="{{ product['product_name'] }}">
                        <td><a href="{{ url_for('result', search_term=product['product_name'], type='Product') }}">{{ product["SKU"] }}</a></td>
                        <td><a href="{{ url_for('result', search_term=product['product_name'], type='Product') }}">{{ product["name"] }}</a></td>
                        <td><a href="{{ url_for('result', search_term=product['product_name'], type='Product') }}">{{ product["quantity"] }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </article>
    {% endfor %}
    {% else %}
    <h1>{{ _('No inbound movements') }}</h1>
    {% endif %}
</div>
<button type="button" class="button" id="add-button" onclick="showModal('add-inbound')" data-bs-target="#add-inbound">+</button>

<div class="modal-window" id="add-inbound" tabindex="-1" aria-labelledby="add-inbound-title" aria-hidden="true">
    <div class="modal-content" id="inbound-modal-content">
        <div class="modal-header" id="inbound-modal-header">
            <h3 id="add-inbound-title">{{ _('Add new incoming shipment') }}</h3>
            <button type="button" class="btn-close close-modal-button" id="close-modal-button-1" onclick="closeModal('add-inbound')"></button>
        </div>
        <div class="modal-body inbound-modal-body" id="inbound-modal-body">
            <form action="/inbound" id="add-shipment" method="POST" enctype="multipart/form-data">
                <div id="supplier-warehouse-container">
                    <select class="supplier modal-inventory-select input form" id="supplier" type="select" name="supplier" required>
                        <option value="" style="color: grey">{{ _('Choose supplier') }}</option>
                        {% for supplier in suppliers %}
                        <option  class="supplier-option" value="{{ supplier['supplier'] }}">{{ supplier['supplier'] | capitalize }}</option>
                        {% endfor %}
                    </select>
                    <select class="warehouses modal-inventory-select input form" id="warehouse" type="select" name="warehouse" required>
                        <option value="" style="color: grey">{{ _('Choose warehouse') }}</option>
                        {% for key in inventory[0].warehouses %}
                        <option value="{{ key }}">{{ key | capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search-container" id="search-box-3">
                    <input list="products" class="form" id="search3" placeholder="{{ _('Search by SKU code or name') }}" autocomplete="off">
                    <datalist id="products">
                        {% for product in inventory %}
                        <option>{{ product['SKU'] }} - {{ product['product_name'] }}</option>
                        {% endfor %}
                    </datalist>
                    <p id="error-output" style="color:red;">.</p>
                </div>
                <div>
                    <div class="p-2">
                        <table class="table table-striped table-secondary table-borderless" id="products-in-list">
                            <thead class="table-light" id="table-header">
                                <tr>
                                    <th>SKU</th>
                                    <th>{{ _('Product name') }}</th>
                                    <th>{{ _('Quantity') }}</th>
                                    <th>{{ _('Remove') }}</th>
                                </tr>
                            </thead>
                            <tbody id="product-list">
                            </tbody>
                        </table>
                    </div>
                </div>
                <select id="products-selected" name="products-selected" multiple></select>
                <button type="submit" onclick="saveOrder()" class="menu-button purchase-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.828a2 2 0 0 0-.586-1.414l-1.828-1.828A2 2 0 0 0 16.172 4H15M8 4v4a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V4M8 4h7M7 17v-3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3"/></svg>
                    {{ _('Save order') }}
                </button>        
            </form>
        </div>
    </div>
</div>

<script>
  //Collapsible
  var mov = document.getElementsByClassName("movements");
  var i;
  for (i = 0; i < mov.length; i++) {
  mov[i].addEventListener("click", function() {
      var collapsible = this.nextElementSibling;
      if (collapsible.style.maxHeight){
      collapsible.style.maxHeight = null;
      collapsible.style.paddingTop = null;
      } else {
      collapsible.style.maxHeight = "fit-content";
      collapsible.style.paddingTop = "50px";
      collapsible.firstElementChild.classList.toggle("mb-0");
      }
  });}

  //Show error message
  function errorMessage(message) {
    document.getElementById("error-output").innerHTML = message;
    document.getElementById("error-output").style.visibility = "visible";
    function eraseErrorMessage() {        
        document.getElementById("error-output").style.visibility = "hidden";
     }
     setTimeout(eraseErrorMessage, 5000);
  }
  
  //Add product in a new row in table and to hidden input list
  let myInventory = {{ inventory | tojson | safe }};
  const search3 = document.getElementById('search3');
  search3.addEventListener('input', function(e) {
    let datalistProducts = Array.from(document.getElementById('products').options);
    let validOption = datalistProducts.some(option => option.value === search3.value);
    if (validOption) {
        let selectedOption = e.target.value;
        let index = selectedOption.indexOf(' ');
        let SKU = selectedOption.substring(0, index);

        if (document.getElementById(SKU) != null) {
            errorMessage("{{ _('Item is already in the cart') }}");
        } else {
            let product = myInventory.find(object => object.SKU === SKU);
            document.getElementById("table-header").style.visibility = "visible";
            let productAdded = document.getElementById("product-list").insertRow();
            productAdded.classList.add('product-to-add');
            const cellClass = ['SKU', 'product', 'quantity', 'deleteButton'];
            const cellContent = [
                product.SKU, 
                product.product_name, 
                `<input type="number" name="${product.SKU}" class="inbound-quantity" value="1" min="1">`, 
                '&#x1F5D9;'
            ];
            for (let i = 0; i < 4; i++) {
                let newCell = productAdded.insertCell();
                newCell.classList.add(cellClass[i]);
                newCell.innerHTML = cellContent[i];
                if (i === 3) {
                    newCell.classList.add('delete-button');
                }
            }
        document.getElementById("products-selected").innerHTML += `<option id="${product.SKU}" value="${product.SKU}" selected></option>`;
        }
        document.getElementById('search3').value = "";
    };
  });

  //Delete product (from hidden input list and table)
  function deleteRow(e) {
    if (e.target.classList.contains("delete-button")) {
        document.getElementById(e.target.parentNode.firstElementChild.innerHTML).remove();
        e.target.closest("tr").remove();
        if (document.querySelectorAll(".product-to-add").length == 0) {
            document.getElementById("table-header").style.visibility = "hidden";
        }
    }
  };
  document.querySelector("#products-in-list").addEventListener("click", deleteRow);

  //Validations
  function saveOrder() {
    if (document.getElementById("products-selected").options.length == 0) {
        document.getElementById("add-shipment").addEventListener('submit', function(event) {
            event.preventDefault();
        });
        errorMessage("{{ _('There are no products added') }}");
    }
  }
</script>

{% endblock %}