{% extends 'layout.html' %}

{% block main %}

{% for movement in catalogue %}
<div class="movements" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Hi
</div>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div>
{% endfor %}

{% endblock %}