{% extends "layout.html" %}

{% block main %}

{% if empty %}
    <h1 style="text-align:center">{{ empty }}</h1>

{% else %}
    <div class="p-2">
        <table class="table table-striped table-secondary table-borderless">
            <thead class="table-light">
                <tr>
                    <th>SKU</th>
                    <th>External code</th>
                    <th>Product</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for product in catalogue %}
                <tr>
                    <td>{{ product.SKU }}</td>
                    <td>{{ product.external_code }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.sell_price|cop }}</td>
                    <td><img id="{{ product.image_route }}" src="{{ product.image_route }}" style="height:50px;"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
    {{ result }}
{% endif %}
    <!-- Button trigger modal -->
    <button type="button" id="add-button" data-bs-target="#add-product">+</button>
  
    <!-- Modal -->
    <div id="add-product" tabindex="-1" aria-labelledby="add-product-title" aria-hidden="true">        
        <div id="modal-content">
            <div id="modal-header">
                <h3 id="add-product-title">Add new product to stock</h3>
                <button type="button" class="btn-close" id="close-modal-button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body">
                <form action="/add_product" method="POST" enctype="multipart/form-data">
                    <input autocomplete="off" autofocus class="input" id="product_name" type="text" name="product_name"
                        placeholder="Product name"><br>
                    <input autocomplete="off" class="input" id="SKU" type="text" name="SKU" placeholder="SKU"><br>
                    <input autocomplete="off" class="input" id="external_code" type="text" name="external_code"
                        placeholder="External code"><br>
                    <input autocomplete="off" class="input" id="initial_quantity" type="number" name="initial_quantity"
                        placeholder="Quantity"><br>
                    <input autocomplete="off" class="input" id="sell_price" type="number" name="sell_price"
                        placeholder="Sell price"><br>
                    <label for="image_reference">Select product image</label>
                    <input class="input" id="image_reference" type="file" name="image_reference"><br>
                    <input type="submit" id="save-product-button" action="/add_product" value="Save product"></input>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
    <script>
        // Get the modal
        let addProductModal = document.getElementById("add-product");

        // Get the button that opens the modal
        let addButton = document.getElementById("add-button");

        // Get the elements that closes the modal
        let closeModalButton = document.getElementById("close-modal-button");

        // When the user clicks the button, open the modal
        addButton.onclick = function() {
            addProductModal.style.display = "block";
        }

        // When the user clicks on "x", close the modal
        closeModalButton.onclick = function() {
            addProductModal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == addProductModal) {
                addProductModal.style.display = "none";
        }}
    </script>