<!DOCTYPE html>
<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1 id="title">{{ _('Purchase order') }}</h1>
        <h2 id="trackolus-logo">{{ _('Trackolus logo here') }}</h2>
        <h2 id="company-logo">{{ _('Your logo here') }}</h2>

        <p>{{ _('Customer') }}: {{ data['customer'].name }}</p>
        <p>{{ _('Identification') }}: {{ data['customer'].id }}</p>
        <p>{{ _('Phone') }}: {{ data['customer'].phone }}</p>
        <p>{{ _('E-mail') }}: {{ data['customer'].email }}</p>

        <table>
            <thead class="table-light" id="table-header">
                <tr>
                    <th>{{ _('SKU') }}</th>
                    <th>{{ _('Product name') }}</th>
                    <th>{{ _('Quantity') }}</th>
                    <th>{{ _('Price (unit)') }}</th>
                    <th>{{ _('Total price') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data['products'] %}
                <tr>
                    <td>{{ item.SKU }}</td>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.other_props['items_to_buy'] }}</td>
                    <td>{{ item.sell_price | cop }}</td>
                    <td>{{ (item.sell_price * item.other_props['items_to_buy']) | cop }}</td>
                </tr>
                {% endfor %}
                <tr><td colspan="4">{{ _('Grand total') }}</td><td>{{ data['total'] | cop }}</td></tr>
            </tbody>
        </table>
    </body>
    </html>
