{% extends 'layout.html' %}

{% block main %}

<div id="main-container">
    <br>
    {% for movement in catalogue %}
    <article class="movement-container container-fluid" id="{{ movement.order_number }}">
        <section class="movements" aria-expanded="false">
            <div class="mov-info">
                <p class="mov-data"><a href="{{ url_for('result', search_term=movement.order_number, type='Outbound') }}" target="_blank"><b>{{ _('Order number') }}:</b> {{ movement.order_number }} </a></p>
                <p class="mov-data"><b>{{ _('Date') }}:</b> {{ movement.order_date }}</p>
                <p class="mov-data"><a href="{{ url_for('result', search_term=movement.order_buyer, type='Client') }}"><b>{{ _('Client') }}:</b> {{ movement.order_buyer }} </a></p>
                <p class="mov-data"><a href="{{ url_for('result', search_term=movement.order_author, type='User') }}"><b>{{ _('Seller') }}:</b> {{ movement.order_author }} </a></p>
            </div>
            <div class="mov-pdf movement-button">
                <a href="/movement_pdf/{{ movement.order_number }}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><g fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" color="black"><path d="M3.5 13v-.804c0-2.967 0-4.45.469-5.636c.754-1.905 2.348-3.407 4.37-4.118C9.595 2 11.168 2 14.318 2c1.798 0 2.698 0 3.416.253c1.155.406 2.066 1.264 2.497 2.353c.268.677.268 1.525.268 3.22V13"/><path d="M3.5 12a3.333 3.333 0 0 1 3.333-3.333c.666 0 1.451.116 2.098-.057a1.67 1.67 0 0 0 1.179-1.18c.173-.647.057-1.432.057-2.098A3.333 3.333 0 0 1 13.5 2m-10 20v-3m0 0v-1.8c0-.566 0-.848.176-1.024C3.85 16 4.134 16 4.7 16h.8a1.5 1.5 0 0 1 0 3zm17-3H19c-.943 0-1.414 0-1.707.293S17 17.057 17 18v1m0 3v-3m0 0h2.5M14 19a3 3 0 0 1-3 3c-.374 0-.56 0-.7-.08c-.333-.193-.3-.582-.3-.92v-4c0-.338-.033-.727.3-.92c.14-.08.326-.08.7-.08a3 3 0 0 1 3 3"/></g></svg>
                </a>
            </div>
        </section>
        <section class="collapsible">
            <table  class="table table-striped table-secondary table-borderless">
                <thead>
                    <tr>
                        <th>{{ _('SKU') }}</th>
                        <th>{{ _('Product name') }}</th>
                        <th>{{ _('Quantity') }}</th>
                        <th>{{ _('Price (unit)') }}</th>
                        <th>{{ _('Total price') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in movement.order_products %}
                    <tr onclick="window.location='{{ url_for('result', search_term=product['product_name'], type='Product') }}';">
                        <td>{{ product["SKU"] }}</td>
                        <td>{{ product["product_name"] }}</td>
                        <td>{{ product["quantity"] }}</td>
                        <td>{{ product["price"] | cop }}</td>
                        <td>{{ (product["quantity"] * product["price"]) | cop }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </article>
    {% endfor %}
</div>
<script>
    //Collapsible
    var mov = document.getElementsByClassName("movements");
    var i;

    for (i = 0; i < mov.length; i++) {
    mov[i].addEventListener("click", function() {
        var collapsible = this.nextElementSibling;
        if (collapsible.style.maxHeight){
        collapsible.style.maxHeight = null;
        collapsible.style.paddingTop = null;
        } else {
        collapsible.style.maxHeight = "fit-content";
        collapsible.style.paddingTop = "50px";
        collapsible.firstElementChild.classList.toggle("mb-0");
        }
    });
    }
</script>

{% endblock %}