<!DOCTYPE html>
<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h1 id="title">{{ _('Purchase order') }}</h1>
        <h2 id="trackolus-logo">{{ _('Trackolus logo here') }}</h2>
        <h2 id="company-logo">{{ _('Your logo here') }}</h2>

        <p>{{ _('Customer') }}: {{ data["customer_name"] }}</p>
        <p>{{ _('Identification') }}: {{ data["customer_identification"] }}</p>
        <p>{{ _('Phone') }}: {{ data["customer_phone"] }}</p>
        <p>{{ _('E-mail') }}: {{ data["customer_email"] }}</p>
        <p>{{ _('Order number') }}: {{ order.order_number }}</p>
        <p>{{ _('Type of movement') }}: {{ order.order_type }}</p>
        <p>{{ _('Date') }}: {{ order.order_date }}</p>
        <p>{{ _('Seller') }}: {{ order.order_author }}</p>

        <table>
            <thead class="table-light" id="table-header">
                <tr>
                    <th>{{ _('SKU') }}</th>
                    <th>{{ _('Product name') }}</th>
                    <th>{{ _('Quantity') }}</th>
                    <th>{{ _('Price (unit)') }}</th>
                    <th>{{ _('Total price') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.order_products %}
                <tr>
                    <td>{{ item["SKU"] }}</td>
                    <td>{{ item["product_name"] }}</td>
                    <td>{{ item["quantity"] }}</td>
                    <td>{{ item["price"] | cop }}</td>
                    <td>{{ (item["price"] * item["quantity"]) | cop }}</td>
                </tr>
                {% endfor %}
                <tr><td colspan="4">{{ _('Grand total') }}</td><td>{{ data["grand_total"] | cop }}</td></tr>
            </tbody>
        </table>
    </body>
    </html>
